<div class="row">
  <div class="span-small">
    <ul class="thumbnails">
      <li class="span-small">
        <div class="thumbnail">
          <%= img_tag %>
          <%= link_to(url, { target: '_blank' }) do %><button class="btn">READ MORE</button><% end %>
        </div>
      </li>
    </ul>
  </div>
  <div class="span-large">
    <p><%= text %></p>
    <ul></ul>
  </div>
</div>