<div id="content">
  <div class="container-fluid">
    <div class="container">
      <h2>About Optemo</h2>
      <div class="row">
        <div class="span12">
          <div class="columns two-columns">
            <p class="info-spacing">Based in Vancouver, Canada, Optemo is a leader in the development of adaptive search and navigation technologies for omni-channel retailers who want to improve the online experience of their customers.</p>
            <p>Retailers are empowered with faceted navigation, adaptive search and recommendations that learn from customer purchasing behaviours across multiple channels.  Optemo's sophisticated API platform is deployable across desktop e-commerce sites as well as mobile sites and apps for a seamless online shopping experience. Optemo's patent-pending technology has helped major "brick and click" retailers including Best Buy and Future Shop see significant increases in online revenues while boosting customer satisfaction. With Optemo's Ruby on Rails-based software, retailers can easily incorporate business intelligence into their online stores to create an enriched shopping experience for their customers.</p>
		<p>Optemo's growing team now includes world-class software engineers who have experience working at Amazon, Microsoft, Nasa, and Intel. Having observed the evolution of e-commerce for over a decade, Optemo's founders found that online shopping could still be confusing and daunting for even experienced shoppers, not to mention those new to online shopping. Thus, Optemo was born, with the goal of making online shopping easier and more enjoyable for everyone.</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12 divider">
          <h4>Benefits of Using Optemo</h4>
        </div>
      </div>
      <div class="row">
        <div class="span6">
          <ul>
            <li><p>Relevant and targeted content where it matters most - when the customer is making a purchasing decision.</p></li>
            <li><p>Increased conversion rates - customers can easily and intuitively find the products they want through the integrated search platform.</p></li>
            <li><p>Increased order sizes - targeted recommendations and product bundles help customers find the popular accessories they need.</p></li>
            <li><p>Increased business control - merchandizing teams can quickly and easily choose items to feature, no IT assistance required.</p></li>
            <li><p>Increased competitiveness - sophisticated business controls and platform flexibility allow retailers to innovate and make changes faster than the competition.</p></li>
          </ul>
        </div>
        <div class="span3">
          <ul class="thumbnails benefits-image">
            <li class="span3">
              <div class="thumbnail">
                <img src="img/phone.png">
              </div>
            </li>
          </ul>
        </div>
        <div class="span3">
          <h4 class="benefits-caption">Best Buy Canada doubled the basket size with shoppers using the Optemo Discovery platform!</h4>
        </div>
      </div>
      <div class="row">
     
      <div class="row">
        <div class="span12 spacing"></div>
      </div>
    </div>
  </div>
</div>