<div id="content">
  <div class="container-fluid">
    <div class="container">
      <h2>Adaptation Engine: putting your multi-channel Big Data to work</h2>
      <div class="row">
        <div class="span12">
            <p class="info-spacing">You have a sea of data! Every day, millions of shoppers visit your store, website, and mobile application. This has allowed you to record very valuable information about your customers and their behaviour. You have detailed information about everything that happens in your physical and virtual stores. The question then becomes: how to extract the value from all this big data!</p>
<p>Hiring analysts and creating business intelligence reports is a good first step. But imagine if your online store could make use of this data to adapt automatically and continually, in real time. Optemo's patent-pending Adaptation Engine analyzes your data and business intelligence reports from all your sales channels. Optemo's technology uses state-of-the-art machine learning techniques to leverage this information in conjunction the business rules that are provided by merchandizers via Optemo's <%= link_to "Merchant Resource Center", action: 'mrc' %>. The MRC allows you to adjust and fine-tune customer search and browsing experience to meet the needs of your business.</p>  
        </div>
      </div>
      <div class="row">
        <div class="span12 divider">
          <h4>Features</h4>
      </div>
    </div>
      <div class="row">
        <div class="span6">
          <li><p>Integration with analytics solutions: You have already invested in a great analytics solution for your business. Optemo's Adaptation Engine uses the data from your analytics solution to learn the correlations and dependency between these reports and variations in the data feed. The Engine also takes into account social graphs and seasonality and adapts the search, navigation and recommendations accordingly.</p></li>
		<li><p>Leveraging trends and social graphs: If your site knows that people are now tweeting about a certain movie or a celebrity's fashionable shoes, it can adjust the search relevency of your results accordingly. If you are integrated with social networks or have your own user login, you can begin using these social interactions to deliver better search results for your customers. The Optemo Adaptation Engine provides these capabilities by leveraging data from sites such as Google and Twitter and incorporating graphs from social networks such as Facebook and Pinterest.</p>
		</li>		
          </ul>
        
        <div class="span5">
            <ul class="thumbnails benefits-image">
              <li class="span5">
                <div class="thumbnail">
                  <img src="img/Sliderimageslarge-whitebgcopy.png">
                </div>
              </li>
            </ul>
          </div>
          </div>
      	  <div class="span6"><ul><li><p>Point of sale integration: Data-driven approaches work when you have many data points to draw from. Your online and mobile traffic is growing; however, you still have larger traffic and many more transactions in your stores. We believe you should leverage your valuable in-store data to provide a better online customer experience. Although some online, mobile and in-store behaviours are different, there are strong correlations between your channels. Optemo's Adaptation Engine leverages your in-store data, learns the correlations between variables, and automatically adapts many aspect of the search and browsing experience.</p>
		</li></ul>
            <h4 class="benefits-caption">The Optemo Adaptation Engine connects the dots in a way that uses your Big Data to <em>Optemize</em> your search, browsing and recommendation experiences across multiple platforms</h4>
          </div>
        </div>
        <%= link_to action: 'api' do %><button class="btn nextbtn">Next</button><% end %>
    </div>
  </div>
</div>
</div>