<div id="content">
  <div class="container-fluid">
    <div class="container">
      <h2>Optemo's Search API: multiple devices, single interface</h2>
      <div class="row">
        <div class="span12">
            <p class="info-spacing">Everyday, more customers are visiting your stores through digital channels including desktop browsers, tablets, and smartphones. Whether customers interact with your brand through one of these digital channels or one of your physical stores, they expect a consistent experience. Optemo's API platform allows your company to offer the same great product selection and outstanding service across multiple devices. A software as a service (SaaS) offering, Optemo provides an open API that can power the search, navigation, and recommendations of your online store. The ability to host your data on Optemo's secure cloud-based servers allows for fast updates and worry-free service.</p>
        </div>
      </div>
      <div class="row">
        <div class="span12 divider">
          <h4>Features</h4>
      </div>
    </div>
      <div class="row">
        <div class="span6">
          <ul>
            <li><p>One API for different platforms: Optemo's API empowers search, navigation and recommendation for desktop browsers, mobile browsers, and native applications, thus streamlining the management and configuration efforts.</p>
			<li><p>Fast updates and worry-free service: as a hosted solution, Optemo's adaptive API takes the worry out of managing the software. Optemo offers <%= link_to "Industry Leading Support", action: 'support' %> to ensure that your online store is always open for business.</p></li>
		        <li><p>Powering all of your search and navigation needs in one place: Optemo's API platform uses our patent-pending <%= link_to "Adaptation Engine", action: 'adaptation' %> to deliver results based on performance and correlations established between channels.</p></li>
		        <li><p>Easy integration with existing analytics solutions. Through Optemo's one-of-a-kind <%= link_to "Merchant Resource Center", action: 'mrc' %>, merchandisers can receive analytics data as they configure all aspects of Optemo's Search, Navigation, and Recommendations.</p></li>
          </ul>
        </div>
        <div class="span6">
			<ul>
			 <div class="span5">
           <ul class="thumbnails benefits-image">  
             <li class="span5">
               <div class="thumbnail">
                 <%= image_tag "slider1.png" %>
               </div>
             </li>
           </ul>
         </div>
		</ul>
        </div>
      </div>
      <div class="row">
      <div class="row">
        <div class="span12 spacing"></div>
      </div>
    </div>
  </div>
</div>
</div>