<div id="content">
  <div class="container-fluid">
    <div class="container">
      <h2>Careers</h2>
      <div class="row">
        <div class="span12">
            <p class="info-spacing">
                <p>Optemo's goal is to make online shopping a more enjoyable experience for everyone. We believe in giving all team members the independence to come up with creative solutions, while fostering the teamwork needed to create a great product. We are always interested in adding great people to our team.</p>
        </div>
      </div>

      <div class="row">
        <div class="span12 divider">
          <h4>Current Postings</h4>
      </div>
    </div>
      <div class="row">
        <div class="span6">
          <h4>No openings at the moment.</h4>
           </div>
           <div class="span6">
             <h4>Today Optemo's growing team includes experts in online retail, computer scientists and engineers.</h4>
           </div>
         </div>
         <div class="row">

         <div class="row">
           <div class="span12 spacing"></div>
         </div>
       </div>
     </div>
   </div>
  </div>
