<div id="content">
    <div class="container-fluid">
      <div class="container">
        <h2>Merchant Resource Center</h2>
        <div class="row">
          <div class="span12">
              <p class="info-spacing">No one knows your products and customers like your merchandisers. That's why Optemo's Merchant Resource Center offers an intuitive yet powerful interface that allows your merchandising and content team to incorporate strategies that reflect your business goals.</p>
              <p> The MRC allows merchandisers to configure all aspects of the search and navigation experience. In conjunction with the state-of-the-art maching learning techniques employed by the Optemo Adaptation Engine, the MRC allows you to adjust and fine-tune customer search and browsing experience to meet the needs of your business. Creating promotions, facets, and recommendations are just a few of the tools available at your fingertips, all without the need for IT support.</p>
          </div>
        </div>

        <div class="row">
          <div class="span12 divider">
            <h4>Features</h4>
        </div>
      </div>
        <div class="row">
          <div class="span6">
            <ul>
              <li><p>Industry standard administrative functionality: 
              	ability to create and configure promotions, boosts, and redirects.</p></li>
              <li><p>Keyword search configuration: preview and configure spell check, preview and configure related searches and related categories, create and configure the synonym list.</p></li>
              <li><p>Configuration of faceted navigation: create, reorder and enrich facets.</p></li>
			<li><p>Inspecting and modifying product data: create specific or general rules for modifying data fields.</p></li>
              <li><p>Total control over search facets: create, delete and modify facets in different search settings.</p></li>
			<li><p>Providing business rules for search and recommendation relevancy.</p></li>
			<li><p>Easy promotion of products, targeting of customers and boosting of attributes.</p></li>
			<li><p>Previewing the effect of configurations before deployment.</p></li>	
			<li><p>Multi-user login with multiple permissions.</p></li>	
            </ul>
          </div>
          <div class="span6">
            <h4 class="benefits-caption">The Merchant Resources Center can fully integrate with your existing analytics solutions to provide agile, real-time business intelligence to your merchandisers as they configure the solution's search and navigation capabilities.</h4>
          </div>
        </div>
        <div class="row">
        <div class="row">
          <div class="span12 spacing"></div>
        </div>
      </div>
    </div>
  </div>
</div>