<div id="content">
  <div class="container-fluid">
    <div class="container">
      <h2>Partners</h2>
      <div class="row">
        <div class="span12">
            <p class="info-spacing">
                <p>Optemo partners with world-class research institutions, e-commerce platform companies and consultants to deliver the optimized solutions for our clients. The most important goal of our partnerships is to build reliable intelligent shopping platforms that ensure client success. Our growing network of partners includes the following organizations:</p>
        </div>
      </div>
      <div class="row">
    </div>
      <div class="row">
        <div class="span6">
           </div>
           <div class="span6">
             <p></p>
               &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;
             <img src="img/logo_bestbuy.jpg">
             &nbsp; &nbsp;  &nbsp;
             <img src="img/logo_amazon.png">
             &nbsp;  &nbsp;  &nbsp;
             <img src="img/logo_NRC.jpg">
             <p></p>
             <p></p>
             &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;
             <img src="img/logo_SFU.png">
             &nbsp;  &nbsp;  &nbsp; 
             <img src="img/logo_ubc.jpg">
             <p></p>
             <p></p>
            &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;
             <img src="img/logo_GHC.jpg">
               &nbsp; &nbsp; &nbsp;
             <img src="img/logo_precarn.jpg">
             </div>
             <div class="row">
               <div class="span6">
                  <h4 class="benefits-caption">Contact Optemo today to find out more about exciting partnership opportunities</h4>
                </div>
             </div>
             </div>
           </div>
         </div>
         <div class="row">
         <div class="row">
           <div class="span12 spacing"></div>
         </div>
       </div>
     </div>
   </div>