<div id="content">
               <div class="container-fluid">
                 <div class="container">
                   <h2>Careers</h2>
                

                   <div class="row">
                     <div class="span12 divider">
                       <h4>Web Software Developer</h4>
                   </div>
                 </div>
                 <p>We are looking for a bright and passionate software developer who is interested in working at a fast-paced start-up company. Our culture offers all team members the opportunity for high visibility and high impact. You'll be working in a small team where everyone has input on the final product.</p>
                 <p>
                 Optemo provides intelligent e-commerce solutions to large retailers. Our flagship software-as-a-service offering allows retailers to easily extend an online store with advanced catalogue search and navigation functions. Our technology stack includes Solr, MySql, Memcached, Rails, and CoffeeScript. Optemo engineers tackle difficult technical challenges on a daily basis, ranging from maximizing site performance and reliability to inventing new and novel ways of navigating online catalogues.
                 </p>
                 <p>Responsibilities:</p>
                  <ul>
                    <li>Software design and development</li>
                    <li>Unit testing and system testing</li>
                    <li>Timely resolution of issues in customer-facing systems</li>
                    <li>Performance optimization</li>
                  </ul>
                  <p>Requirements:<p>
                  <ul>
                    <li>BSc or MSc in computer science, computer engineering or a related field</li>
                    <li>Familiarity with object-oriented design techniques</li>
                    <li>Proficiency in at least one of these languages: Ruby, C++, Java, PHP, Python</li>
                    <li>Proficiency working with Linux</li>
                    <li>Excellent communication skills</li>
                  </ul>
                  <p>Desired Skills:</p>
                  <ul>
                    <li>Ruby on Rails proficiency</li>
                    <li>JavaScript and AJAX</li>
                    <li>MySql proficiency</li>
                    <li>Experience with source code management systems such as Git</li>
                  </ul>
                  <p>If you are interested in joining our team please send your resume and a cover letter to <script type="text/javascript">document.write(
"<n uers=\"znvygb:pnerref\100bcgrzb\056pbz\">pnerref\100bcgrzb\056pbz<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script>. If you have open source contributions available on the web, please include the link in your email or resume; we'd love to have a look!
                        <div class="span6">
                    </div>
                      <div class="row">

                      <div class="row">
                        <div class="span12 spacing"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
