<div id="content">
  <div class="container-fluid">
    <div class="container">
      <h2>Accessory Recommender</h2>
      <div class="row">
        <div class="span12">
            <p class="info-spacing">When a customer visits one of your physical stores and chooses a product to purchase, your sales team is there to prove invaluable recommendations on accessories that enhance the product experience. It's a win-win situation: customers receive additional utility from their purchases and stores boost their profits with high-margin accessory items. Now you can apply the wisdom of your sales team to your online store. The Optemo Accessory Recommender allows you to leverage sales data from all your channels to recommend relevant products online. Moreover, the Accessory Recommender is able to predict suitable accessories for pairing with new products. Like other Optemo products, the Accessory Recommender automatically learns from your data to make predictions with pinpoint accuracy while allowing merchandizers to override the automatic processes and configure all aspects of Optemo's accessory recommendations.</p>  
        </div>
      </div>

      <div class="row">
        <div class="span12 divider">
          <h4>Features</h4>
      </div>
    </div>
      <div class="row">
        <div class="span6">
          <ul>
            <li><p>Utilizes your sales data from physical stores, online and mobile stores to provide relevant recommendations. In spite of the success of their online channels, major "brick and click" retailers still process many more transactions in their physical stores. Now these retailer to make use of ALL their data to deliver adaptive recommendations. Optemo's recommendation engine automatically learns which items were co-purchased in store and delivers accurate recommendations based on multiple data points.</p>
			<li><p>Incorporates users'purchasing behaviour and interactions to deliver the most relevant recommendations.</p></li>
          </ul>
          <h4 class="benefits-caption">Optemo's Accessory Recommender uses the wisdom of your customers and sales associates to deliver personalized recommendations</h4>
        </div>
        <div class="span6">
			<ul>
			  <li><p>Predicts the right accessories for the newest products in your feed. Optemo has developed proprietary similarity algorithms which take into account similarities between new products and existing products in your catalogue. This technology eliminates "cold starts" by matching relevant accessories to the newest product models with pinpoint accuracy.</p>
        </li>
        <li><p>Easily configurable by your merchandising team. Intuitively fine-tune rankings through the intuitive <%= link_to "Merchant Resource Center", action: 'mrc' %>. We believe that merchandisers should be able to configure all aspects of search, navigation, and recommendations without the help of IT teams. The MRC makes this vision a reality.</p></li>
		</ul>
		<%= link_to action: 'mrc' do %><button class="btn nextbtn">Next</button><% end %>
      <div class="row">
        <div class="span12 spacing"></div>
      </div>
    </div>
  </div>
</div>
</div>