<div id="content">
      <div class="container-fluid">
        <div class="container">
          <h2>Industry Leading Support: another great reason to choose Optemo</h2>
          <div class="row">
            <div class="span12">
                <p class="info-spacing">
                    <p>When selecting the e-commerce solutions that power your business, it is important to consider the ongoing support necessary for the continuous improvement of your customers' online experience. We at Optemo believe that support plays an integral component in optimizing the operations of your online store and ensuring that customers are treated to a consistently excellent shopping environment. Our enterprise-grade support packages provide consistent, high-quality support for all of our online solutions. When clients opt for 24/7 support, time-critical queries will receive a response in two hours or less. Contacting Optemo support means speaking with an engineer who is intimately familiar with the technology and can address technical concerns as they arise. Ultimately, Optemo's best-in-class support means satisfied customers and better results for your business.</p>
            </div>
          </div>

          <div class="row">
            <div class="span12 divider">
              <h4>Features</h4>
          </div>
        </div>
          <div class="row">
            <div class="span6">
              <ul></p></li>	</ul>
                    <p>All Optemo Support Programs Include:</p>
                    <ul>
                    <li><p>Support integrated into Optemo's Merchant Resource Center - easily request support within your user interface.</p></li>
                    <li><p>Time-critical email and phone queries are answered within two hours - our knowledgeable engineers are never more than an email or phone call away.</p></li>
                    <li><p>Updates and upgrades as they become available - we ensure your online store is up to date and inform you before any changes are made.</p></li>
    				<li><p>Bug fixes - receive up-to-the-minute fixes for any bugs that our engineers discover.</p></li>
                    <li><p>Ability to host your data on Optemo's secure cloud-based servers - allow for faster updates and worry-free service.</p></li>
    				<li><p>Option to choose 24/7 or 9-5 support - tailored solutions for your business needs.</p></li>
                 </ul>
               </div>
               <div class="span6">
                 <h4 class="benefits-caption">Optemo engineers are standing by 24 hours a day, 7 days a week to respond to support requests</h4>
               </div>
             </div>
             <div class="row">

             <div class="row">
               <div class="span12 spacing"></div>
             </div>
           </div>
         </div>
       </div>
     </div>