html {
  overflow-x: hidden;
}

#contact-header .icon {
  margin-top: 1px;
}

.flex-viewport {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#7ab732', endColorstr='#2f5700', GradientType=0);
}

#navbar .nav li.active.open.dropdown {
  background-color: #e2e2e2;
}

.dropdown-menu li > a {
  min-width: 100%;
}

#featured-stories .divider {
  border-bottom: none;
  border-top: 1px dotted #cccccc;
  margin-top: 15px;
  padding-top: 15px;
  line-height: 0;
}

.flex-control-paging li a.flex-active {
  background: #fff;
  width: 5px;
  height: 5px;
  border: 3px solid #7e7e7e;
}

#menu h5 > a {
  color: #d5d5d5;
}

#menu a {
  color: #999999;
}