body {
  font-family: 'Abel';
  overflow-x: hidden;
  font-weight: 100;
}

.blend {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

a:focus {
  outline: none;
}

.dropdown-menu {
  padding: 0;
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: -o-linear-gradient(top, #fdfdfd, #e6e6e6);
  background-image: linear-gradient(to bottom, #fdfdfd, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: 0 5px 10px #c0c0c0;
     -moz-box-shadow: 0 5px 10px #c0c0c0;
          box-shadow: 0 5px 10px #c0c0c0;
}

.dropdown-menu li > a {
  color: #666666;
  padding: 0;
  margin-top: -15px;
  margin-bottom: -15px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-menu .active > a:hover,
.dropdown-submenu:hover > a {
  text-decoration: none;
  background-color: #d6d6d6;
  background-image: -moz-linear-gradient(top, #d6d6d6, #b4b4b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d6d6d6), to(#b4b4b4));
  background-image: -webkit-linear-gradient(top, #d6d6d6, #b4b4b4);
  background-image: -o-linear-gradient(top, #d6d6d6, #b4b4b4);
  background-image: linear-gradient(to bottom, #d6d6d6, #b4b4b4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#b4b4b4', GradientType=0);
}

.dropdown-menu .active > a {
  background-image: none;
  background-color: transparent;
  filter: none;
  color: #84bc47;
}

.dropdown-menu .active > a:hover {
  color: #CFE9B4;
}

.dropdown-toggle {
  text-transform: uppercase;
}

.navbar-text {
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: inherit;
}

.btn:hover {
  background-image: inherit
}

#contact-header .container-fluid {
  background-color: #2f5700;
  background-image: -moz-linear-gradient(top, #7ab732, #2f5700);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ab732), to(#2f5700));
  background-image: -webkit-linear-gradient(top, #7ab732, #2f5700);
  background-image: -o-linear-gradient(top, #7ab732, #2f5700);
  background-image: linear-gradient(to bottom, #7ab732, #2f5700);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#7ab732', endColorstr='#2f5700', GradientType=0);
}

#contact-header .icon {
  zoom: 1;
  margin-top: 2px;
}

#contact-header .text {
  zoom: 1;
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
}

#contact-header .phone {
  text-align: center;
}

#contact-header .email {
  text-align: right;
}

#contact-header a {
  color: white;
}

#contact-header a:hover {
  text-decoration: none;
}

#navbar {
  background-color: #ecedee;
}

#navbar .dropdown-menu::before,
#navbar .dropdown-menu::after {
  border: none;
  content: none;
}

#navbar ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

#navbar .container-fluid,
#navbar .container,
#navbar .navbar,
#navbar .brand {
  zoom: 1;
  margin-bottom: 0;
}

#navbar .dropdown-menu a {
  padding: 10px;
  font-size: 15px;
}

#navbar li .dropdown-toggle {
  padding: 10px;
  font-size: 18px;
}

#navbar .navbar .nav .active .dropdown-toggle,
#navbar .navbar .nav .active .dropdown-toggle:hover,
#navbar .navbar .nav .active .dropdown-toggle:focus {
  zoom: 1;
  color: #84bc47;
  background-color: #e2e2e2;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
 -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
         border-radius: 6px;
  border: 1px solid #d1d1d1;
  background-image: -moz-linear-gradient(top, #fdfdfd, #e2e2e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #e2e2e2);
  background-image: -o-linear-gradient(top, #fdfdfd, #e2e2e2);
  background-image: linear-gradient(to bottom, #fdfdfd, #e2e2e2);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e2e2e2', GradientType=0);
}

#navbar .navbar .nav .dropdown-toggle {
  color: #84bc47;
}

#navbar .navbar .nav .dropdown-toggle:hover {
  color: #519800;
}

#navbar ul.nav > li > a:hover {
  background-color: #E5E5E5;
}

#navbar .brand {
  background: url(../img/logo.png) no-repeat left center;
  height: 54px;
  width: 184px;
}

#navbar li {
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#banner {
  background-color: #2f5700;
  background-image: -moz-linear-gradient(top, #7ab732, #2f5700);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ab732), to(#2f5700));
  background-image: -webkit-linear-gradient(top, #7ab732, #2f5700);
  background-image: -o-linear-gradient(top, #7ab732, #2f5700);
  background: linear-gradient(to bottom, #7ab732, #2f5700);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#7ab732', endColorstr='#2f5700', GradientType=0);
}

#banner .thumbnail {
  border: none;
  box-shadow: none;
}

#banner h1 {
  font-weight: normal;
  padding: 0 20px 0 20px;
  margin: 40px 0 20px 0;
  font-size: 40px;
  color: white;
}

#banner p {
  padding: 0 20px 0 20px;
  color: white;
  font-size: 22px;
  line-height: 30px;
}

#banner .btn {
  text-shadow: -1px -1px 3px #ca9300;
  font-size: 11px;
  line-height: 22px;
  color: white;
  margin: 20px 0 0 20px;
  border-radius: 6px;
  border: 2px ridge #ca9300;
  background-color: #ff9200;
  background-image: -moz-linear-gradient(top, #fbc800, #ff9200);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbc800), to(#ff9200));
  background-image: -webkit-linear-gradient(top, #fbc800, #ff9200);
  background-image: -o-linear-gradient(top, #fbc800, #ff9200);
  background-image: linear-gradient(to bottom, #fbc800, #ff9200);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbc800', endColorstr='#ff9200', GradientType=0);
}

#banner .btn:hover,
#content .btn:hover {
  filter: none;
}

#content h2 {
  font-size: 35px;
  color: #7ab732;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 28px;
}

#content h3 {
  font-size: 30px;
  color: #7ab732;
  font-weight: normal;
}

#content h4 {
  font-weight: normal;
  margin-top: 26px;
  font-size: 28px;
  color: #666666;
  line-height: 28px;
}

#content h4.benefits-caption {
  color: #7ab732;
  line-height: 34px;
  margin-top: 135px;
}

#content h5 {
  font-weight: normal;
  font-family: Arial;
  margin-bottom: 0;
  color: #7ab732;
  font-size: 16px;
  line-height: 26px;
  margin-top: 26px;
}

#content p {
  font-family: Arial;
  color: #666666;
  font-size: 16px;
  line-height: 26px;
}

#content .columns {
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}

#content .two-columns {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

#content .three-columns {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

#content p.info-spacing {
  margin-bottom: 26px;
}

#content .benefits-image {
  margin-top: 30px;
}

#content .btn {
  font-family: Myriad Pro;
  margin-left: 10px;
  font-size: 11px;
  padding: 2px 12px 2px 12px;
  color: #5a5a5a;
  margin: 6px 0px 20px 0px;
  background-color: #E6e6e6;
  background-image: -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
  background-image: -o-linear-gradient(top, #FFFFFF, #E6E6E6);
  background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

#content .thumbnail {
  border: none;
  box-shadow: none;
}

#content .devices {
  padding: 40px 0 0 0;
}

#content .divider {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
}

#content .hero-unit {
  zoom: 1;
  margin-top: 20px;
  border: 2px solid #e7e7e7;
  padding: 20px 40px 30px 40px;
  background-color: white;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='white', endColorstr='#e6e6e6', GradientType=0);
}

#content .hero-unit p {
  margin-left: 10px;
  font-family: Abel;
  font-size: 20px;
  line-height: 24px;
}

#content .spacing {
  margin-top: 40px;
}

#customers .btn {
  margin-left: 8px;
  margin-bottom: 0px;
}

#content .nextbtn {
  float: right;
  font-size: 16px;
  padding: 4px 12px;
}

#featured-stories .hero-unit {
  margin-bottom: 0;
  padding: 0px 20px 0px 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

#featured-stories .span-small {
  margin-bottom: 0;
  margin-right: 0;
  width: 84px;
}

#featured-stories .span-large {
  margin-left: 6px;
  margin-right: 0;
  padding: 0;
  width: 164px;
}

#featured-stories .span-full {
  width: 90%;
}

#featured-stories .thumbnail {
  margin-bottom: 0;
  text-align: center;
}

#featured-stories img {
  width: 100%;
}

#featured-stories .btn {
  border-radius: 3px;
  margin-left: 0px;
  margin-top: 4px;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
}

#featured-stories .hero-unit p {
  margin: 0;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
}

#featured-stories .divider {
  zoom: 1;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #cccccc;
}

#featured-stories a.contact {
  color: #7ab732;
  text-decoration: underline;
}

#more-stories .hero-unit {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 3px;
  padding-bottom: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
  background-color: #d6d6d6;
  background-image: -moz-linear-gradient(top, #d6d6d6, #b3b3b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d6d6d6), to(#b3b3b3));
  background-image: -webkit-linear-gradient(top, #d6d6d6, #b3b3b3);
  background-image: -o-linear-gradient(top, #d6d6d6, #b3b3b3);
  background-image: linear-gradient(to bottom, #d6d6d6, #b3b3b3);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#b3b3b3', GradientType=0);
}

#more-stories .btn {
  max-width: 100px;
  border-color: #e3b600;
  text-shadow: -1px -1px 3px #ca9300;
  font-size: 11px;
  line-height: 22px;
  color: white;
  background-color: #ff9200;
  background-image: -moz-linear-gradient(top, #fbc800, #ff9200);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbc800), to(#ff9200));
  background-image: -webkit-linear-gradient(top, #fbc800, #ff9200);
  background-image: -o-linear-gradient(top, #fbc800, #ff9200);
  background-image: linear-gradient(to bottom, #fbc800, #ff9200);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbc800', endColorstr='#ff9200', GradientType=0);
}

#menu .container-fluid {
  background-color: #333333;
  background-image: -moz-linear-gradient(top, #333333, #070504);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#070504));
  background-image: -webkit-linear-gradient(top, #333333, #070504);
  background-image: -o-linear-gradient(top, #333333, #070504);
  background-image: linear-gradient(to bottom, #333333, #070504);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#070504', GradientType=0);
}

#menu {
  border-top: 1px solid #828282;
}

#menu h5 {
  font-size: 16px;
  margin-top: 25px;
  color: #d5d5d5;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 2px groove #000;
  font-weight: normal;
}

#menu h5.contact {
  color: #7ab732;
}

#menu p {
  font-family: Arial;
  color: #999999;
  font-size: 11px;
  line-height: 11px;
}

#multiline p {
  margin: 2px 0 2px 0;
  line-height: 10px;
}

#icon-alignment p {
  padding-left: 18px;
  margin: 2px 0 4px 0;
}

#menu a {
  color: inherit;
}

#menu a:hover,
#menu a:hover > p {
  text-decoration: none;
  color: white;
}

#menu p.extra-top-spacing {
  padding-top: 8px;
}

#menu i {
  margin-top: -1px;
}

#footer {
  margin-top: 20px;
  border-top: 1px dotted #262423;
}

#footer p {
  font-family: Arial;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 0 6px 0;
  margin: 2px 0 15px 0;
}
